div(style="margin:30px auto;max-width:90%;")
    #amazingslider-1(style="display:block;position:relative;margin:0px auto 0px;")
        ul.amazingslider-slides(style="display:none;")
            li
                img(src="images/clear_sea_beach-1920x600.jpg", alt="clear_sea_beach-1920x600")
            li
                img(src="images/frosty_forest_nature_winter-1920x600.jpg", alt="frosty_forest_nature_winter-1920x600")
            li
                img(src="images/golden-beach-background-1920x600-300.jpg", alt="golden-beach-background-1920x600-300")
            li
                img(src="images/iceberg_antarctica_glacier-1920x600.jpg", alt="iceberg_antarctica_glacier-1920x600")
            li
                img(src="images/mustard_flower_field_3-wallpaper-1920x600.jpg", alt="mustard_flower_field_3-wallpaper-1920x600")
            li
                img(src="images/wasteland_beautiful_nature-1920x600.jpg", alt="wasteland_beautiful_nature-1920x600")
        ul.amazingslider-thumbnails(style="display:none;")
            li
                img(src="images/clear_sea_beach-1920x600-tn.jpg")
            li
                img(src="images/frosty_forest_nature_winter-1920x600-tn.jpg")
            li
                img(src="images/golden-beach-background-1920x600-300-tn.jpg")
            li
                img(src="images/iceberg_antarctica_glacier-1920x600-tn.jpg")
            li
                img(src="images/mustard_flower_field_3-wallpaper-1920x600-tn.jpg")
            li
                img(src="images/wasteland_beautiful_nature-1920x600-tn.jpg")